name: programmingebook
description: A new Flutter application.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^1.1.0
  flutter_svg: ^0.17.4
  flutter_bloc: ^4.0.0
  equatable: ^1.1.1
  http: ^0.12.1
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter


# The following section is specific to Flutter.
flutter:

  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/
    - assets/svg/

  fonts:
  - family: GalleryIcons
    fonts:
      - asset: fonts/GalleryIcons.ttf